<div class="page-header">
  <h3>Sharding</h3>
</div>


<div class="tabbable">
  <ul class="nav nav-tabs">
    <li ><a href="/sharding">Dashboard</a></li>
    <li ><a href="/sharding/collections">Collections</a></li>
    <li ><a href="/sharding/shards">Shards</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="graphs">
      
      <div class="container-fluid">
        <div class="row-fluid">
          <div id="leftMargin" class="span2"></div>
          <div id="content" class="span8">
            <canvas id="myCanvas" resize></canvas>
          </div>
          <div id="rightMargin" class="span2">
            <div id="collections-legend" style="font-family: 'Helvetica Neue', Helvetica, sans-serif;">
              <h2>Collections</h2>
              <div class="key" style="word-wrap: break-word;">
                <div class="color" style="margin-right: 5px; background-color: rgb(57, 59, 121); height: 15px; width: 15px; float: left;"></div>
                <span class="ns" style="font-family: 'Helvetica Neue', Helvetica, Sans;">cloud-docs.spreadsheets</span>
              </div>
            </div>
            <div id="collections-legend" style="font-family: 'Helvetica Neue', Helvetica, sans-serif;">
              <h2>Shards</h2>
              <div class="key" style="word-wrap: break-word;">
                <div class="color" style="margin-right: 5px; background-color: rgb(31, 119, 180); height: 15px; width: 15px; float: left;"></div>
                <span class="ns" style="font-family: 'Helvetica Neue', Helvetica, Sans;">shard-a</span>
              </div>
              <div class="key" style="word-wrap: break-word;">
                <div class="color" style="margin-right: 5px; background-color: rgb(255, 127, 14); height: 15px; width: 15px; float: left;"></div>
                <span class="ns" style="font-family: 'Helvetica Neue', Helvetica, Sans;">shard-b</span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<script type="text/javascript">
    window.onload = function(){
      paper.setup("myCanvas");
      var rect = new paper.Path.Rectangle(100, 100, 819, 499);
      rect.strokeColor = "white"
      rect.fillColor = "#393b79";


      var center = new paper.Point(510, 350);
      var radius = 250 * 3 / 4;
      var topCenter = new paper.Point(center.x, center.y - radius);
      var bottomCenter = new paper.Point(center.x, center.y + radius);
      var rightSemiCircle = new paper.Path();
      var leftSemiCircle = new paper.Path();
      for(var i = 0; i < 181; i+=1)
      {
          rightSemiCircle.add(topCenter);
          topCenter = topCenter.rotate(1, center);
          leftSemiCircle.add(bottomCenter);
          bottomCenter = bottomCenter.rotate(1, center);
      }

      rightSemiCircle.strokeWidth =  leftSemiCircle.strokeWidth = 250 / 4;
      rightSemiCircle.strokeColor = "#1f77b4";
      leftSemiCircle.strokeColor = "#ff7f0e";
      paper.view.draw();

    }
  </script>